<a href="https://colab.research.google.com/github/AdiraMartin/Assignment-Hypothesis-Testing-Concepts/blob/main/HW_HIPOTEST_Adira_Khansa_Martin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!gdown --id 1s1Ae0AYxmMAdtQFmMpUNqPRIXlT7s32Q

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1s1Ae0AYxmMAdtQFmMpUNqPRIXlT7s32Q
To: /content/marketing_campaign.csv
100% 235k/235k [00:00<00:00, 88.6MB/s]

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [ ]:
df = pd.read_csv('marketing_campaign.csv')

In [ ]:
df

,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,...,7,0,0,0,0,0,0,3,11,1
1,1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,...,5,0,0,0,0,0,0,3,11,0
2,2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,...,4,0,0,0,0,0,0,3,11,0
3,3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,...,6,0,0,0,0,0,0,3,11,0
4,4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,2235,10870,1967,Graduation,Married,61223.0,0,1,2013-06-13,46,...,5,0,0,0,0,0,0,3,11,0
2236,2236,4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,...,7,0,0,0,1,0,0,3,11,0
2237,2237,7270,1981,Graduation,Divorced,56981.0,0,0,2014-01-25,91,...,6,0,1,0,0,0,0,3,11,0
2238,2238,8235,1956,Master,Together,69245.0,0,1,2014-01-24,8,...,3,0,0,0,0,0,0,3,11,0
2239,2239,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,...,7,0,0,0,0,0,0,3,11,1

Education level:
 - Basic
 - 2nd Cycle
 - Graduation
 - Master
 - PHd

In [ ]:
df_copy = df.copy()

In [ ]:
df_copy = df_copy[~df_copy['Income'].isnull()].reset_index(drop = True)

# Case :

Pengujian hipotesis untuk membuktikan apakah education berpengaruh terhadap income atau tidak

**H0** : Level education tidak bisa membedakan income <br>
**H1** : Level education bisa membedakan income

In [ ]:
df2_basic = df_copy[df_copy['Education'] == 'Basic' ]
df2_Graduation = df_copy[df_copy['Education'] == 'Graduation']
df2_2nCycle = df_copy[df_copy['Education'] == '2n Cycle']
df2_Master = df_copy[df_copy['Education'] == 'Master']
df2_PhD = df_copy[df_copy['Education'] == 'PhD']

In [ ]:
anova_test = st.f_oneway(df2_basic['Income'],
                        df2_Graduation['Income'],
                        df2_2nCycle['Income'],
                        df2_Master['Income'],
                        df2_PhD['Income']
                        )

### Result

α = 0.05

In [ ]:
print(f'p-value      : {anova_test.pvalue}')
print(f'f-statistics : {anova_test.statistic}')

p-value      : 1.6677281316366318e-22
f-statistics : 27.739182352348212

In [ ]:
if anova_test.pvalue > 0.05:
    print('H0 diterima & H1 ditolak : Level Education memiliki rata-rata Income yang sama')
else:
    print('H0 ditolak & H1 diterima : Level Education memiliki rata-rata Income yang berbeda signifikan')

H0 ditolak & H1 diterima : Level Education memiliki rata-rata Income yang berbeda signifikan

Terbukti tingkatan education bisa membedakan income sehingga education dapat bepengaruh terhadap income

In [ ]:
df_copy.groupby(['Education'])['Income'].describe()

,count,mean,std,min,25%,50%,75%,max
Education,,,,,,,,
2n Cycle,200.0,47633.190000,22119.081838,7500.0,27526.50,46805.0,65393.25,96547.0
Basic,54.0,20306.259259,6235.066773,7500.0,15405.25,20744.0,24882.00,34445.0
Graduation,1116.0,52720.373656,28177.192681,1730.0,34834.50,52028.5,69930.50,666666.0
Master,365.0,52917.534247,20157.788029,6560.0,37760.00,50943.0,66726.00,157733.0
PhD,481.0,56145.313929,20612.979997,4023.0,40451.00,55212.0,69098.00,162397.0

Terlihat rata rata pemasukan (Income) dari tiap level pendidikan (Education) memiliki perbedaan dengan tingkatan level pendidikan tertinggi (PhD) memiliki pemasukan terbesar dan tingkatan level pendidikan terendah (basic) memiliki pemasukan terendah.